
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/4327E5DD
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/D2787478
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/D2787478-contents
whockeyR/.Rproj.user/5CB23EAA/pcs/source-pane.pper
whockeyR/.Rproj.user/5CB23EAA/pcs/windowlayoutstate.pper
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/12317D74
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/12317D74-contents
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/189C565C
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/189C565C-contents
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/A11134BD
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/A11134BD-contents
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/D15CFB39
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/D15CFB39-contents
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/D2787478
whockeyR/.Rproj.user/5CB23EAA/sources/per/t/D2787478-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/0615AE0D-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/12317D74
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/12317D74-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/189C565C
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/189C565C-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/1BFE3D70-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/369370F0-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/4327E5DD-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/6C6067BC-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/A11134BD
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/A11134BD-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/D15CFB39
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/D15CFB39-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/F757B48F-contents
whockeyR/.Rproj.user/5CB23EAA/sources/s-D3255974/lock_file
whockeyR/.Rproj.user/5CB23EAA/viewer-cache/A79783F8.Rdata
*.pper
.Rproj.user
whockeyR/.Rproj.user/5CB23EAA/sources/prop/5B9AA878
whockeyR/.Rproj.user/5CB23EAA/sources/prop/8ED410BE
whockeyR/.Rproj.user/5CB23EAA/sources/prop/D22B7F12
